* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bg.jpg');
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
}

.color {
    color: white;
}

.txt {
    font-size: 15px;
    color: rgb(245, 245, 245);
    mask-image: url('images/fone.jpg');
    width: 100%;
}

.txt2 {
    margin-bottom: 16px;
    color: black;
}

.container {
    width: 100%;
    max-width: 950px;
    margin: auto;
    overflow:hidden;
}

.header {
    display: block;
    background: #333;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}


.header a.active {
    background-color: #bbbbbb;
    color: white;
}

.left {
    float: left;
 }

 .right {
    float: right;
 }
 
.header a {
    color: white;
    text-decoration: none;
}

.navigation {
    width:100%;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 20px;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
}

.main {
    padding: 20px;
    color: snow;
}

.cp {
    padding: 20px;
    width: 1500px;
    height: 25px;
    margin: auto;
    text-align: center;
    margin-top: 1000px;
}

