* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    background-image: url('images/rg.jpg');
    background-size: cover;
}

.header {
    width: 400px;
    height: 10px;
    margin: auto;
    text-align: center;
    padding: 20px 30px;
    color: white;
}
.container {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin: auto;
}

.form {
    background: rgb(29, 19, 39);
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
}


.color {
    color: white;
}

.tip {
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: rgb(192, 190, 190);
}

.icong {
    min-width: 50px;
    text-align: center;
    color: rgb(19, 6, 93);
}

.iconf {
    min-width: 50px;
    text-align: center;
    color: rgb(192, 29, 29);
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #050508;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

