h4 {
    color: rgb( 19, 141, 117 );
    text-align: center;
    font-family: 'Raleway', sans-serif;
    top: 25%;
}

tr{
    text-align:center ;  
}
h6{
    text-align:center ;
    font-size:50px;
    color : rgb(108, 94, 94);
}
.sd{
    text-align:center ;
    font-size:20px;
}
.tss{
    border-color: rgb(219, 255, 198);
    border-style: dotted;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 1px;
    
}

.vermas a{
    color: black;
}
.card-link{
    color : rgb(108, 94, 94);
}
.nav-link 
{
    color : rgb(108, 94, 94);
}
.Rece{
    text-align:center ;
    
}
.Rece img{
    border-radius: 30px;
}
.card {
    background-color:rgb(219, 255, 198) ;
    border-radius: 30px;
}

.circle {
    border-radius: 25px;
}
.container{
    background: url(https://st2.depositphotos.com/4278641/8520/i/450/depositphotos_85206524-stock-photo-leaves-on-white-background.jpg) no-repeat fixed center;
    width: 500px;
    height: 700px ;
    border-radius:25px;
    padding: 40px;
    border-style: dotted;
    border-color: rgb(97, 172, 113);
    font-family: 'Raleway', sans-serif;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
}
.contai{
    background: url(https://st2.depositphotos.com/4278641/8520/i/450/depositphotos_85206524-stock-photo-leaves-on-white-background.jpg) no-repeat fixed center;
    width: 500px;
    height: 700px ;
    border-radius:25px;
    padding: 40px;
    border-style: dotted;
    border-color: rgb(97, 172, 113);
    font-family: 'Raleway', sans-serif;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
}
.ss{
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid  #138d75 ;
    border-style: dotted;

}

.bt{
    background-color: transparent;
    color: rgb(29, 27, 29);
    border-color: rgb(205, 238, 128);
    left: 10%;
    top: 50%;
    
}
.container a{
    color: rgb(29, 26, 26);
}

.cen{
    text-align:center ;
}
.cou{
    color  :rgb(164, 177, 45) ;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom checkbox */
.check {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* on mouse-over, add border color */
.checkbox:hover input ~ .check {
    border: 2px solid #138d75;
}

/* add background color when the checkbox is checked */
.checkbox input:checked ~ .check {
    background-color: #138d75;
    border:none;
}

/* create the checkmark and hide when not checked */
.check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the checkmark when checked */
.checkbox input:checked ~ .check:after {
    display: block;
}

/* checkmark style */
.checkbox .check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Sub {
    position: relative; 
    width: 500px;
    height: 500px ;
    top: 15%;
    left: 32%;
    border-radius:25px;
    padding: 40px;
    border-style: dotted;
    border-color: rgb(97, 172, 113);
    font-family: 'Raleway', sans-serif;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
}
.comen {
    position: relative; 
    width: 600px;
    height: 400px ;
    top: 15%;
    left: 32%;
    border-radius:25px;
    padding: 40px;
    border-style: dotted;
    border-color: rgb(97, 172, 113);
    font-family: 'Raleway', sans-serif;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
}
.coo input{
    width: 500px;
    height: 150px ;}