body {
    font-family: 'Spartan', sans-serif;
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.formulario {
    background: rgba(0, 0, 0,.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: white;

}

.boton {
    background: #222a3f;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5 ease-in;
}

.input-group input:hover {
    border-color: rgba(0, 0, 0, 0.568);;
}

.boton:hover {
    background: #263049;
    color: white;
}

