.centerall{
    display:inline-block !important;
    text-align:center !important;
    justify-content: center !important;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border-radius: 25px;
}

.container{
    width: 1150px;
    height: 550px;
    margin: auto;
}