.navbar{
    font-size: 21px;
}

h3{
    color: #094b91;
}

hr{
    background-color: black;
    color: black;
    font-size: 20px;
}

.navbar-brand img{
    width: 85px;
    height: 40px;
}

.colorcard{
    border-radius: 10px;
    background-color: rgb(223, 211, 211);
}

.img-fluid{
    width: 1400px;
    height: 750px;
}

.img{
    width: 400px;
    height: 350px;
    margin: auto;
}

.sizeletter{
    font-size: 1rem;
}

.mr-sm-2 img{
    margin: auto;
    width: 45px;
    height: 35px;
}

.opacuty{
    opacity: 0.4;
}

footer{
    width: 100%;
}

.footer-container{
    width: 100%;
    background-color: silver;
    color: rgb(39, 40, 41);
}

.footer-main{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-main .footer-columna{
    width: calc(100% / 4);
    text-align: justify;
}

.footer-main .footer-columna:nth-child(2){
    padding: 0 20px;
}

.footer-main .footer-columna h3{
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.footer-main .footer-columna span p{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
}

.footer-copy-redes{
    width: 100%;
    background: #bdb9b9;
    border-top: 3px solid rgb(124, 122, 122);
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-copy-redes .footer-copy{
    width: 70%;
}

.main-copy-redes .footer-redes{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerformbuy{
    width: 450px;
}

