body {
   margin: 0;
   background-color: #e9e8e8;
   font-family: Arial, Helvetica, sans-serif;
}

.topnav {
   overflow: hidden;
   background-color: #333;
}

.topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 25px;
}

.left {
   text-align: start;
}

.right {
   text-align: end;
}

.topnav a:hover {
   background-color: #ddd;
   color: black;
}

.topnav a.active {
   background-color: #4CAF50;
   color: white;
}

.topnav .icon {
   display: none;
}

@media screen and (max-width: 600px) {
   .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
   }
 }
 
 @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
   .topnav.responsive .icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
 }
.size {
   max-width: 500px;
   
}

#first {
   color: blue;
   text-align: center;
}

#second {
   color: blueviolet;
}

input {
   background-color: #79b5fa;
   color: aliceblue;
   margin: 5px;
   font-size: 20px;
   border-radius: 5px;
}

button {
   color:white;
   font-size: 25px;
   background-color: #0074f8;
   border-color: transparent;
   border-radius: 5px;
}

.color1 {
   color: blue;
}

.color2 {
   color: brown;
}

.color3 {
   color: #79b5fa;
}

.tam {
   font-size: 2em;
}
